* {
    margin: 0;
    padding: 0;
}

body{
    /* min-width: 1000px; */
    font-family: "Roboto";
    background-color: #00558B;
}

/* Шапка */
.header{
    width: 100%;
    height: 120px;
    /* height: 100%; */
    background-color: #00558B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.invisible_block{
    width: 105px;
}

.logo{
    height: 100%;
}

.title{
    font-family: 'Roboto';
    font-style: normal;
    height: 48px;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: white;
}

/* Меню */
.menu_wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 60px;
    background-color: #333333;
}

.menu{
    width: 500px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

 .menu_button{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    padding: 3px 10px;

    color: #FFFFFF;
    border: 2px solid #333333;
    background: #333333;
    border-radius: 100px;
    cursor: pointer;   
}

.menu_button:hover{
    border: 2px solid #FFFFFF;
}


/* Основной блок */
.fon{
    background-color: #D9D9D9;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.block{
    height: 500px;
    width: 67%;
    max-width: 1920px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.contacts{
    height:100%;
    width: 47%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.main_text{
    margin-top: 99px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.text{
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}

/* Кнопки соцсетей */
.sosials{
    width: 330px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.whatsapp_button{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #2dc549;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    cursor: pointer;
}

.whatsapp_button:hover{
    /* border: 2px solid #FFFFFF; */
    background-color: #48C95F;
}

.whatsapp_img{
    height: 40px;
}

.telegram_button{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #27A6E5;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    cursor: pointer;
}

.telegram_button:hover{
    /* border: 2px solid #FFFFFF; */
    background-color: #52bbf0;
}

.telegram_img{
    height: 30px;
    margin-right: 5px;
}

.vk_button{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #0077FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    cursor: pointer;
}

.vk_button:hover{
    /* border: 2px solid #FFFFFF; */
    background-color: #3592fc;
}

.vk_img{
    height: 30px;
}


/* Форма обратной связи */
.form_body{
    height: 100%;
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.name{
    width: 100%;
    height: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    background-color: #1A52E1;
}

.name_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #FFFFFF;
}

.form{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .send_form{
    padding-top: 30px;
    width: 100%;
    height: 508px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
 }

 .formstyle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
    background-color: white;

    border: 0;
    padding: 20px;
    box-sizing: border-box;
}

.form1{
    width: 80%;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid #797979;
    border-radius: 3px;
}

.form2{
    width: 80%;
    height: 200px;
    margin-bottom: 20px;
    resize: none;
    border: 1px solid #797979;
    border-radius: 3px;
}

.send_button{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: #1A52E1;
    border-radius: 7px;
    border: #FFFFFF;
    width: 160px;
    height: 42px;
    cursor: pointer;
}

.send_button:hover{
    background: #396df0;
}



/* Последний блок */
.bottom{
    /* bottom: 0px; */
    min-height: 100%;
    width: 100%;
    background-color: #00558B;
}