* { /*чтобы прблем с отступами не было*/
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto";
    background-color: #00558B;
}



/* Шапка */
.header{
    width: 100%;
    height: 120px;
    background-color: #00558B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.invisible_block{ /* невидимый блок чтобы логотип и название нормально располагались*/
    width: 105px;
}

.logo{
    height: 100%;
}

.title{ /* название сайта*/
    font-family: 'Roboto';
    font-style: normal;
    /* height: 48px; */
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: white;
}



/* Меню */
.menu_wrapper{ /*фон*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 60px;
    background-color: #333333;
}

.menu{
    width: 500px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

 .menu_button{ /*кнопки меню*/
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    padding: 3px 10px;

    color: #FFFFFF;
    border: 2px solid #333333;
    background: #333333;
    border-radius: 100px;
    cursor: pointer;   
}

.menu_button:hover{
    border: 2px solid #FFFFFF;
}

.menu_button:active{
    background: #FFFFFF;
    color: #333333;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}




/* 1ый блок главной */
.intro{
    background-color: #D9D9D9;
    background-size: cover;
    display: flex;
    justify-content:center;
}

.main_intro{
    padding-bottom: 30px;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

/*правая часть*/
.intro_right{ 
    margin-left: 7%;
    margin-top: 120px;
    flex-direction: column;
    width: 50%;
    display: flex;
    justify-content: top;
    align-items: center;
}

.right_title{
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-indent: 50px;
    color: #000000;
}

/*левая часть*/
.intro_left{
    margin-top: 85px;
    margin-bottom: 0px;
    flex-direction: column;
    width: 326px;
    /* width: 26%; */
    display: flex;
    justify-content: top;
    align-items: center;
}

.left_title{
    margin-top: 0px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: #000000;
}

.journal_img{
    height: 450px;
    /* width: 100%; */
    margin-top: 20px;
}

.left_name{
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

/* Кнопки читать и скачать */
.rd_buttons{
    margin-top: 10px;
    /* width: 240px; */
    width: 65%;
    /* height: 31px; */
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #3C4FF5;
    border-radius: 5px;
}

.read_button{
    /* height: 31px; */
    height: 100%;
    /* width: 110px; */
    width: 45%;
    font-family: Roboto;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid #3C4FF5;
    background: #3C4FF5;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer; 
}

.read_button:hover{
    background-color: #6171fd;
}

.download_button{
    /* height: 31px; */
    height: 100%;
    /* width: 130px; */
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid #3C4FF5;
    background: #D9D9D9;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer; 
}

.download_button:hover{
    background-color: #c2c7f3;
}

.download_img{
    margin-right: 3px;
    height: 17px;
}



/* 2ой блок главной */
.editors{ /*фон*/
    background: linear-gradient(180deg, #D9D9D9 0%, #FFFFFF 8.33%, #FFFFFF 93.23%, #FFFFFF 100%);
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
}

.main_editors{
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:top;
    padding-bottom: 100px;
}

.editors_title{
    font-family: 'Roboto';
    font-style: normal;
    /* width: 473px;
    height: 48px; */
    margin-top: 130px;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #9F260C;
}

.editor{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle {
    margin-left: 15%;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editor_text{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 52.1%;
}



/* 3ий блок главной */
.partners{
    background-color: #E8F2FF;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.partners_top{
    height: 100px;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.partners_title{
    font-family: 'Roboto';
    font-style: normal;
    /* height: 48px; */
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    padding: 0px 100px;
}

.partners_bottom{
    height: auto;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
    padding-bottom: 50px;
}

.logo1{
    height: 150px;
    width: 200px;
}

.logo2{
    height: 200px;
    width: 159px;
}

.logo3{
    height: 150px;
    width: 172px;
}



/* Последний блок */
.bottom{
    height: 100px;
    width: 100%;
    background-color: #00558B;
}




/* АДАПТАЦИЯ ПОД ТЕЛЕФОН*/
@media screen and (max-width: 1200px) {
    .main_intro{
        flex-direction:column-reverse;
        align-items: center;
    }

     /*правая часть*/
     .intro_right{
        margin-left: 0;
        margin-top: 50px; 
        flex-direction: column;
        width: 75%;
  
    }

    .right_title{
        /* margin-top: 0px; */
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
    }

    .text{
        font-weight: 400;
        font-size: 22px;
        line-height: 24px;
        text-indent: 35px;
    }


    /*левая часть*/
    .intro_left{
        /* margin-top: 85px;
        margin-bottom: 0px; */
        width: 50%;
    }
    
    .left_title{
        /* margin-top: 0px; */
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        color: #000000;
    }
    
    .journal_img{
        height: 100%;
        width: 100%;
        margin-top: 20px;
    }
    
    .left_name{
        margin-top: 20px;
        font-size: 26px;
        line-height: 28px;
    }
    

    /* Кнопки читать и скачать */
    .rd_buttons{
        margin-top: 10px;
        
        /* width: 240px; */
        width: 70%;
        /* height: 31px; */
        height: 15%;
    }
    
    .read_button{
        /* height: 31px; */
        height: 100%;
        /* width: 110px; */
        width: 45%;
        
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
    }
    
    .download_button{
        /* height: 31px; */
        height: 100%;
        /* width: 130px; */
        width: 55%;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px; 
    }
    
    .download_img{
        margin-right: 3px;
        height: 17px;
    }


    /* 2ой блок */
    .editors_title{
        /* width: 473px;
        height: 48px; */
        margin-top: 100px;
        margin-bottom: 25px;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
    }
    
    .editor{
        height: 150px;
        margin-bottom: 20px;
    }
    
    .circle {
        margin-left: 7%;
        width: 120px;
        height: 120px;
        border-radius: 100%;
    }
    
    .editor_text{
        margin-left: 5%;
        width: 70%;
    }
    
    
}



.header_burger{
    display: none;
}



@media screen and (max-width: 768px){

    /* Шапка */
    .header{
        height: 80px;
    }

    .invisible_block{ /* невидимый блок чтобы логотип и название нормально располагались*/
        width: 70px;
    }

    .logo{
        height: 100%;
    }

    .title{ /* название сайта*/
        /* height: 48px; */
        font-weight: 400;
        font-size: 30px;
        line-height: 32px;
    }


    /* Меню */
    .menu_wrapper{
        position: absolute;
        top: 0;
        right: 0;

        width: auto;
        height: auto;
        background: none;
    }

    .header_burger{
        display: block;
        position: relative;
        top: 15px;
        right: 10px;
        width: 20px;
        height: 15px;
        
        margin-right: 10px;

        z-index: 50;
    }

    .header_burger::after,
    .header_burger::before{
        content: "";
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;

        background-color: #3D2500;
        transition: all 0.5s ease 0s;
    }

    .header_burger span{
        position: absolute;
        background-color: #3D2500;
        width: 100%;
        height: 2px;
        left: 0;
        top: 6.5px;
        transition: all 0.5s ease 0s;
    }

    .header_burger::before{
        top: 0;
    }

    .header_burger::after{
        bottom: 0;
    }

    .menu{
        position: fixed;
        padding-top: 30px;
        width: 40%;
        top: 0;
        right: -50%;
        background-color: white;

        height: 230px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        z-index: 10;

        transition: all 0.5s ease 0s;
    }

    .menu.active{
        right: 0;
        
    }

    .header_burger.active::before{
        transform: rotate(45deg);
        top: 6.5px;
    }

    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 6.5px;
    }

    .header_burger.active span{
        transform: scale(0);
    }


    /*правая часть*/
    .intro_right{
        margin-left: 0;
        margin-top: 25px; 
        flex-direction: column;
        width: 85%;
  
    }

    .right_title{
        /* margin-top: 0px; */
        margin-bottom: 10px;

        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
    }

    .text{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-indent: 30px;
    }


    /*левая часть*/
    .intro_left{
        /* margin-top: 85px;
        margin-bottom: 0px; */
        width: 50%;
    }
    
    .left_title{
        /* margin-top: 0px; */
        font-weight: 400;
        font-size: 24px;
        line-height: 20px;
        color: #000000;
    }
    
    .journal_img{
        height: 100%;
        width: 100%;
        margin-top: 20px;
    }
    
    .left_name{
        margin-top: 20px;
        font-size: 16px;
        line-height: 20px;
    }
    
    /* Кнопки читать и скачать */
    .rd_buttons{
        margin-top: 10px;
        
        /* width: 240px; */
        width: 80%;
        /* height: 31px; */
        height: 10%;
    }
    
    .read_button{
        /* height: 31px; */
        height: 100%;
        /* width: 110px; */
        width: 40%;
        
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    
    .download_button{
        /* height: 31px; */
        height: 100%;
        /* width: 130px; */
        width: 60%;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px; 
    }
    
    .download_img{
        margin-right: 3px;
        height: 13px;
    }
    

    /* 2ой блок */
    .editors_title{
        /* width: 473px;
        height: 48px; */
        margin-top: 100px;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 28px;
        line-height: 30px;
    }
    
    .editor{
        height: auto;
        flex-direction: column;
        margin-bottom: 30px;
    }
    
    .circle {
        margin-left: 0;
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
    }
    
    .editor_text{
        width: 80%;
    }


    /* 3ий блок главной */
    .partners_top{
        height: 100px;
        width: 100%;
        max-width: 1920px;
    }

    .partners_title{
        /* height: 48px; */
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        padding: 0px 50px;
    }

    .partners_bottom{
        height: auto;
        width: 100%;
        max-width: 1920px;
        padding-bottom: 30px;
    }

    .logo1{
        height: 75px;
        width: 100px;
    }
    
    .logo2{
        height: 100px;
        width: 80px;
    }
    
    .logo3{
        height: 75px;
        width: 86px;
    }


}